export AWS_PROFILE=microshift-dev
export STACK_NAME=${USER}-dev
export SHARED_DIR="instance-data"
export RHEL_HOST_ARCHITECTURE=x86_64
export REGION=us-west-2
export EC2_INSTANCE_TYPE="c5n.metal"
export AWS_DEFAULT_REGION=us-west-2
export RHEL_HOST_AMI=$(aws ec2 describe-images --query 'reverse(sort_by(Images, &CreationDate))[].[Name, ImageId, CreationDate]' --filters "Name=name,Values=RHEL-9.*${RHEL_HOST_ARCHITECTURE}*" --owners amazon --output json --region ${REGION} | jq -r .[0].[1])
export SSH_PUBLIC_KEY=/home/${USER}/.ssh/id_rsa.pub
export SSH_PRIVATE_KEY=/home/${USER}/.ssh/id_rsa