export DEV_SCRIPTS_REPO="https://github.com/openshift-metal3/dev-scripts"
export DEV_SCRIPTS_BRANCH="master"

# dev-scripts variables
export CI_TOKEN=
export OPENSHIFT_RELEASE_IMAGE="registry.ci.openshift.org/ocp/release:4.20.0-0.nightly-2025-05-16-121737"
export IP_STACK=v4
export NUM_MASTERS=2
export NUM_WORKERS=0
export MASTER_MEMORY=32768
export FEATURE_SET="DevPreviewNoUpgrade"

# dev-scripts installer; if you're going to install from a customer built installer, override both
# export OPENSHIFT_INSTALLER="/home/${USER}/openshift-install"
# export OPENSHIFT_INSTALL_RELEASE_IMAGE_OVERRIDE=

# dev-scripts default kubeconfig
export KUBECONFIG=/home/${USER}/dev-scripts/ocp/ostest/auth/kubeconfig
